*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-dark-primary: #491b55;
  --color-dark-second: #371341;
  --color-light-primary: papayawhip;
  --color-light-second: #ddd;
  --color-accent-1: rgb(252, 193, 0);
  --color-accent-2: rgb(224, 167, 191);
  --color-accent-3: rgb(175, 142, 216);
}

body {
  font-family: Verdana, sans-serif;
  background-color: var(--color-dark-primary);
  color: var(--color-light-primary);
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
  font-family: Verdana, sans-serif;
  cursor: pointer;
  border-radius: 0.5em;
}

#game {
    width: 600px;
    height: 600px;
    background-color: var(--color-light-second);
    z-index: 0;
    display: grid;
    grid-template-columns: 5% 5% auto 5% 5%;
    grid-template-rows: 5% 80px auto 33% 5%;
    position: relative;
}

#topMenu, #textbox {
    background-color: var(--color-dark-second);
    z-index: 2;
}

#topMenu {
  display: none;
  grid-column: 2 / -2;
  grid-row: 2 / 3;
  position: relative;
}

#textbox {
    grid-column: 2 / -2;
    grid-row: 4 / 5;
}

#titlebox {
  z-index: 99;
  position: absolute;
  height: 50%;
  width: 70%;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1.5rem;
  background-color: var(--color-dark-primary);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-family: Georgia, serif;
}

#author {
  font-style: italic;
}

#titleStartBtn {
  background: transparent;
  border: none;
  color: var(--color-light-primary);
  font-weight: bolder;
  font-size: 1.8rem;
  padding: 0 0.2rem;
}

#titleStartBtn:hover, #titleStartBtn:focus {
  color: var(--color-accent-2);
}

#titleStartBtn:active {
  background-color: var(--color-accent-2);
  color: var(--color-light-primary);
}

#openTopMenuBtn {
  z-index: 98;
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  justify-self: left;
  align-self: start;
}

#closeTopMenuBtn {
  z-index: 98;
  position: absolute;
  top: 0;
  right: 0;
}